@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body {
    font-family:  'Lato', sans-serif;
}
.container{
    width: 40%;
    margin: 0px auto;
}
header {
    background-color: black;
    color: white;
    height: 45px;
    position: sticky;
    top: 0px;
}
header nav {
    float: left;
}
header button {
    float: right;
    padding: 14.5px 20px;
    background-color: transparent;
}
header ul li {
    float: left;
}
header ul a {
    display: inline-block;
    height: 45px;
    font-size: 15px;
    padding: 0px 20px;
    line-height: 45px;
    text-transform: uppercase;
}

header ul li i {
    margin-left: 3px;
}
header ul a:hover {
    background-color: #ccc;
    color: black;
}

    
header .search-btn i {
    font-size: 15px;
    color: white;
}
header .search-btn:hover{
    background-color: #f44336;
}
#Banner{
    height: calc(100vh - 45px);
    background: #f44336 url(../images/yannis-papanastasopoulos-yWF2LLan-_o-unsplash.jpg);
    background-position: center right;
}
.banner-content{
    color: white;
    position: relative;
    z-index: 10;
    padding-top: 85vh;
    text-align: center;
}
.banner-content h2{
    margin-bottom: 12px;
}
#About{
    padding: 100px 0px;
    text-align: center;
    overflow: auto;
}
.section-title h1,
.section-title h2{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.section-title p{
    font-style: italic;
    margin: 30px 0px;
    color: rgb(138, 136, 136);
    text-align: center;
}
#About .about-desc{
    text-align: justify;
}
#About .article-list{
margin-top: 50px;
}
#About .article-list article{
    float: left;
    width: calc(100%/3);
    padding: 0px 20px;
}
#About .article-list article img{
    width: 100%;
    margin-top: 20px;
}
#Tour{ 
    padding: 100px 0px;
    background: black;
    overflow: auto;
}
#Tour .section-title{
    color: white;
}
#Tour ul{
    background: white;
    border-radius: 1px;
}
#Tour ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    font-size: 15px;
    color: #757575;
}
#Tour ul .status{
    background: #f44336;
    color: white;
    display: inline-block;
    padding: 4px 8px;
    margin-left: 12px;
}
#Tour ul .count{
    background: black;
    color: white;
    padding: 4px 8px;
    border-radius: 50%;
    float: right;
}
#Tour .ticket-list{
    margin-top: 40px;
}
#Tour .ticket-list article{
    width: calc(100%/3 - 10px);
    background: white;
    float: left;
}
#Tour .ticket-list article:nth-child(2){
    margin: 0px 15px;
}
#Tour .ticket-list article img{
    width: 100%;
}
#Tour article .article-text{
    padding: 12px;
}
#Tour article h3{
    font-size: 15px;
    font-weight: 800;
}
#Tour article span{
    display: inline-block;
    margin: 20px 0px;
}
.btn{
    background: black;
    color: white;
    margin-top: 12px;
    padding: 8px 12px;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn:hover{
    background-color: #ccc;
    color: black;
}
.Contact{
    padding: 100px 0px;
}
